@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model IEnumerable<Medic_Info>

@{
    ViewData["Title"] = "Index";
}

@if (SignInManager.IsSignedIn(User))
{
    <div class="container p-3">
        <div class="row pt-4">
            <div class="col-6">
                <h2 class="text-primary">Medicine Info List</h2>
            </div>
            <div class="col-6 text-end">
                <a asp-controller="MedicInfo" asp-action="Create" class="btn btn-primary">
                    Add New Medicine
                </a>
            </div>
        </div>
        <br /><br />
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th style="text-align: center">
                        Medicine Name
                    </th>
                    <th style="text-align: center">
                        Quantity
                    </th style="text-align: center">
                    <th style="text-align: center">
                        Buttons
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach(var obj in Model)
                {
                    <tr>
                        <td style="text-align: center" width = "33%">
                            @obj.Medicine_Name
                        </td>
                
                        <td style="text-align: center" width = "33%">
                            @obj.Medicine_Quantity
                        </td>
                
                        <td style="text-align: center" width = "33%">
                                <a asp-controller="MedicInfo" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-primary">
                                    Edit
                                </a>
                                <a asp-controller="MedicInfo" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-danger">
                                    Delete
                                </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else{
    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login"></a>
}